global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert_rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: llama
    metrics_path: /metrics
    static_configs:
      - targets: ["llama:8000"]

  - job_name: node-exporter
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: nginxlog-exporter
    static_configs:
      - targets: ["nginxlog-exporter:4040"]

